.tabs {
    position: relative; /* Это позволяет вкладкам быть абсолютно позиционированными */
    min-height: 550px; /* Это будет высота вкладок */

    clear: both; /* Это позволяет вкладкам быть рядом друг с другом */
    margin: 25px 0; /* Отступы вокруг */
}
.tab {
    float: left; /* Вкладки располагаются горизонтально */
}
.tab label {
    background: #eee; /* Цвет фона */
    padding: 7px; /* Отступы вокруг */
    border: 1px solid #ccc; /* Рамка вокруг */
    margin-left: -1px; /* Это позволяет вкладкам быть рядом друг с другом */
    position: relative; /* Позволяет нам абсолютно позиционировать содержимое */
    left: 1px; /* Это позволяет вкладкам быть рядом друг с другом */
}
.tab [type=radio] { /* Скрыть радио-кнопки */
    display: none;
}
.content {
    position: absolute; /* Абсолютное позиционирование */
    top: 40px; /* Отступ сверху */
    left: 0; /* Отступ слева */
    background: #fff; /* Цвет фона */
    right: 0; /* Отступ справа */
    bottom: 0; /* Отступ снизу */
    padding: 1px; /* Отступы вокруг */
    border: 1px solid #ccc; /* Рамка вокруг */

    overflow: hidden; /* Это позволяет содержимому быть скрытым */
}
[type=radio]:checked ~ label { /* Стилизация активной вкладки */
    background: #fff; /* Цвет фона */
    border-bottom: 1px solid #fff; /* Убираем рамку снизу */
    z-index: 2; /* Позволяет вкладке быть поверх содержимого */
}
[type=radio]:checked ~ label ~ .content { /* Показываем содержимое активной вкладки */
    z-index: 1; /* Позволяет содержимому быть поверх другого содержимого */
}
form {
    width: 100%; /* Это установит ширину формы на 50% от ширины ее родительского элемента */

}

